body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 80px 0;
}

header {
  padding: 20px 0;
}
header .imgbox {
  width: 40px;
}
header nav .home-color {
  color: #00b7c3;
}
header nav a {
  color: #8c8999;
  font-size: 20px;
  margin: 0 16px;
}
header nav a:hover {
  color: #8c8999;
}
header .btn {
  display: none;
}
@media screen and (max-width: 768px) {
  header nav {
    display: none;
  }
  header .btn {
    display: block;
    padding: 6px 14px;
    border: 1px solid #9f9f9f;
    border-radius: 6px;
    background-color: #00b7c3;
    color: white;
  }
}

#delivered {
  background-color: #f4fafb;
}
#delivered .box {
  width: 520px;
}
#delivered .box h1 {
  font-size: 68px;
  font-weight: 700;
}
#delivered .box span {
  color: #37b7c3;
}
#delivered .box h5 {
  font-size: 25px;
  color: #676f8b;
  line-height: 1.3;
  margin: 16px 0 32px;
}
#delivered .box .btn {
  background-color: #38b6c1;
  color: white;
  padding: 15px 25px;
}
#delivered .box .imgbox {
  width: 100px;
  margin: 15px 0 5px;
}
#delivered .box h4 {
  font-size: 20px;
  color: #3d3c3c;
}
@media screen and (max-width: 1400px) {
  #delivered .box {
    width: 440px;
  }
  #delivered .box h1 {
    font-size: 52px;
  }
  #delivered .box h5 {
    font-size: 20px;
  }
  #delivered .box .imgbox {
    margin: 10px 0 3px;
  }
}
@media screen and (max-width: 992px) {
  #delivered .box h1 {
    font-size: 40px;
  }
  #delivered .box h5 {
    font-size: 16px;
    margin: 12px 0 24px;
  }
  #delivered .box .btn {
    padding: 12px 15px;
  }
}
@media screen and (max-width: 768px) {
  #delivered .box {
    text-align: center;
  }
  #delivered .box h1, #delivered .box h5 {
    width: auto;
  }
  #delivered .box h4 {
    margin-bottom: 40px;
  }
  #delivered .box .minibox {
    display: flex;
    justify-content: center;
  }
}

#products {
  background-color: #f1f8f9;
}
#products .textbox h1 {
  width: 400px;
  font-size: 60px;
  color: #36b3bd;
  font-weight: 700;
}
#products .textbox h5 {
  font-size: 20px;
  color: #676f8b;
  margin: 20px 75px 50px 0;
  line-height: 1.3;
}
#products .textbox .btn {
  color: white;
  background-color: #38b6c1;
  padding: 12px 30px;
  font-size: 20px;
}
@media screen and (max-width: 1400px) {
  #products .textbox h5 {
    width: 550px;
  }
}
@media screen and (max-width: 992px) {
  #products .textbox h5 {
    font-size: 18px;
    width: 450px;
  }
}
@media screen and (max-width: 768px) {
  #products .textbox {
    text-align: center;
  }
  #products .textbox h1 {
    width: auto;
  }
  #products .textbox h5 {
    margin: 30px 0 40px 0;
    width: auto;
  }
  #products .textbox .btn {
    margin-bottom: 30px;
  }
}

#howitworks h1 {
  color: #36b3bd;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 60px;
}
#howitworks .box {
  width: 300px;
  text-align: center;
}
#howitworks .textbox h2 {
  font-weight: 700;
  font-size: 25px;
  margin: 32px 0 8px;
}
#howitworks .textbox h4 {
  font-size: 20px;
  color: #676f8b;
  line-height: 1.3;
}
@media screen and (max-width: 992px) {
  #howitworks .box {
    width: auto;
  }
  #howitworks .box h2 {
    font-size: 40px;
    margin: 0;
  }
  #howitworks .box h4 {
    font-size: 24px;
    margin: 16px 0;
  }
}

#ourmenu .textbox {
  width: 500px;
}
#ourmenu .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #3cc1d8;
}
#ourmenu .textbox h4 {
  font-size: 20px;
  color: #6c7480;
  margin: 20px 0;
  line-height: 1.2;
}
#ourmenu .textbox h4 span {
  color: #3cc1d8;
  text-decoration-line: underline;
}
#ourmenu .btn {
  font-size: 18px;
  border: 0.5px solid #bdbdbd;
  padding: 12px 48px;
  margin: 0 20px;
}
#ourmenu .bgc {
  background-color: #3cc1d8;
  color: #ffffff;
  border: 0;
}
#ourmenu .box {
  background-color: #f1f1f1;
  padding: 30px 30px 25px;
  margin-bottom: 20px;
}
#ourmenu .box .imgbox {
  width: 150px;
  border-radius: 10px;
}
#ourmenu .box .textbox {
  margin-left: 20px;
}
#ourmenu .box .textbox .minibox h2 {
  font-size: 22px;
  font-weight: 700;
}
#ourmenu .box .textbox .minibox h5 {
  color: #3cc1d8;
  font-size: 18px;
}
#ourmenu .box .textbox p {
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.2;
  color: #5c6567;
}
#ourmenu .box .textbox .add {
  display: flex;
}
#ourmenu .box .textbox .add input {
  border: 1px solid #e1e1e1;
  background-color: #f9f9f9;
  width: 60px;
}
#ourmenu .box .textbox .add .btn {
  background-color: #3cc1d8;
  color: #ffffff;
  padding: 8px 18px;
  margin-left: 10px;
}
#ourmenu .big {
  padding: 16px 48px;
  margin-top: 40px;
}
@media screen and (max-width: 1200px) {
  #ourmenu .box {
    padding: 15px 15px 15px;
  }
  #ourmenu .box .textbox p {
    margin: 4px 0;
  }
}
@media screen and (max-width: 992px) {
  #ourmenu .box {
    padding: 8px;
  }
  #ourmenu .box .textbox p {
    font-size: 16px;
    line-height: 1;
  }
  #ourmenu .box .textbox .minibox h2 {
    font-size: 20px;
  }
  #ourmenu .box .textbox .minibox h5 {
    font-size: 16px;
  }
  #ourmenu .box .textbox .add input {
    width: 40px;
    padding: 5px 8px;
  }
  #ourmenu .box .textbox .add .btn {
    padding: 3px 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  #ourmenu .big {
    padding: 12px 24px;
    margin-top: 24px;
  }
}
@media screen and (max-width: 576px) {
  #ourmenu .btn {
    padding: 8px 32px;
    margin: 0 10px;
  }
  #ourmenu .big {
    margin: 24px 0;
  }
}
@media screen and (max-width: 400px) {
  #ourmenu .btn {
    padding: 6px 16px;
  }
}

#checkout .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: #36b3bd;
}
#checkout .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0px 50px 0;
  line-height: 1.3;
}
#checkout .btn {
  color: white;
  font-size: 20px;
  background-color: #38b6c1;
  padding: 12px 36px;
}
@media screen and (max-width: 992px) {
  #checkout .textbox h1 {
    font-size: 50px;
  }
  #checkout .textbox h5 {
    font-size: 18px;
    margin: 15px 0 25px;
  }
  #checkout .textbox .btn {
    padding: 10px 24px;
  }
}
@media screen and (max-width: 768px) {
  #checkout .textbox {
    text-align: center;
  }
}

#ourstore {
  background-color: #f1f8f9;
}
#ourstore .textbox h1 {
  font-size: 64px;
  font-weight: 700;
  color: #36b3bd;
}
#ourstore .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 75px 50px 0;
  line-height: 1.4;
}
#ourstore .textbox .btn {
  font-size: 20px;
  color: white;
  background-color: #38b6c1;
  padding: 12px 36px;
}
@media screen and (max-width: 768px) {
  #ourstore .textbox {
    text-align: center;
  }
  #ourstore .textbox h5 {
    margin: 25px 0 50px;
  }
  #ourstore .textbox .btn {
    margin-bottom: 40px;
  }
}

#support .textbox {
  background-color: #35b6c1;
  height: 477px;
  padding: 120px 0 0;
}
#support .textbox h1 {
  font-size: 64px;
  font-weight: 700;
  color: white;
  margin: 0 70px 0 40px;
  line-height: 1.2;
}
#support .textbox span {
  color: rgba(36, 102, 114, 0.5137254902);
}
#support .textbox .btn {
  font-size: 24px;
  color: #38b6c1;
  background-color: white;
  padding: 10px 25px;
  margin: 30px 0 0 40px;
}
@media screen and (max-width: 1400px) {
  #support .textbox {
    height: 410px;
  }
  #support .textbox h1 {
    font-size: 56px;
  }
}
@media screen and (max-width: 1200px) {
  #support .textbox {
    height: 342px;
    padding: 80px 0 0;
  }
  #support .textbox h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 992px) {
  #support .imgbox {
    width: 340px;
  }
  #support .textbox {
    height: 252px;
  }
  #support .textbox h1 {
    font-size: 30px;
  }
  #support .textbox .btn {
    font-size: 18px;
    padding: 5px 15px;
  }
}
@media screen and (max-width: 768px) {
  #support .imgbox {
    width: auto;
  }
  #support .textbox {
    height: 387px;
    text-align: center;
    margin-top: 16px;
    padding: 100px 0 0;
  }
  #support .textbox h1 {
    font-size: 48px;
  }
  #support .textbox .btn {
    margin: 16px 0;
    padding: 10px 24px;
    font-size: 20px;
  }
}
@media screen and (max-width: 497px) {
  #support .textbox {
    height: 340px;
    padding: 90px 0 0;
  }
  #support .textbox h1 {
    margin: 0 32px 0;
  }
}
@media screen and (max-width: 465px) {
  #support .textbox {
    height: 300px;
    padding: 64px 0 0;
  }
}
@media screen and (max-width: 449px) {
  #support .textbox h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  #support .textbox {
    height: 250px;
    padding: 40px 0 0;
  }
  #support .textbox h1 {
    font-size: 32px;
    margin: 0 24px 0;
  }
}/*# sourceMappingURL=style.css.map */